body {
  background-color: #393e46;
  margin-top: 20px;
  font-family: "Baloo 2", cursive;
}
h1 {
  color: #fd3a69;
  font-size: 90px;
  text-align: center;
  font-weight: 600;
  margin: 0px;
}

h2 {
  color: #ff7a00;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  height: 80px;
}
h3 {
  color: #9ecca4;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
h5 {
  font-size: 90px;
  text-align: center;
  margin-bottom: 35px;
}
small {
  color: #9ecca4;
  display: block;
  text-align: center;
  margin-top: 20px;
}
a {
  color: #fd3a69;
}
.background-card {
  width: 430px;
  height: 680px;
  background-image: linear-gradient(to top, #ff8d0038 0%, #ace1f9 100%);
}
.search-engine {
  margin: 10px 25px 5px 12px;
}
#current-location {
  margin-right: 20px;
}
.form-switch {
  margin-left: 26px;
  margin-bottom: 20px;
}
.form-check-label {
  color: #8e7f7f;
}
.hours-minutes {
  color: #8e7f7f;
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}
#forecast {
  color: #8e7f7f;
  text-align: center;
  font-size: 13px;
  display: block;
  margin: 0 auto;
}
.week-icon {
  width: 42px;
  display: block;
  margin: 0 auto;
}
.week-prediction {
  margin: 20px;
}
